.cover__subtitle {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 360px;
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (max-width: 1280px) and (min-width: 1024px) {
  .cover__subtitle {
    top: 62%;
  }
}

@media (max-width: 420px) {
  .cover__subtitle {
    font-size: 0.8rem;
    line-height: 1;
    width: 288px;
  }
}
