.intro__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 2.8rem;
  color: #ffffff;
  margin-bottom: 40px;
}

@media (max-width: 1280px) and (min-width: 420px) {
  .intro__title {
    font-size: 2.8rem;
  }
}

@media (max-width: 420px) {
  .intro__title {
    font-size: 2rem;
  }
}
