.head__language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 77px;
}

@media (min-width: 320px) and (max-width: 1280) {
    .head__language{
        max-width: 77px;
    }
}

@media (max-width: 320px) {
    .head__language{
        max-width: 62px;
    }
}

