.intro__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: lighter;
  font-size: 0.7rem;
  line-height: 2;
  color: #ffffff;
}

@media (max-width: 1280px) and (min-width: 375px) {
  .intro__list {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .intro__list {
    font-size: 0.6rem;
  }
}
